<section class="w-75 mx-auto bg-main-light rounded-3 my-2 p-3">
    <h1>Shop Cart</h1>
    <p class="text-main">Total Price : {{cartDetails.totalCartPrice
        |currency:' EGP '}}</p>
    <div class="row border-bottom pb-2"
        *ngFor="let item of cartDetails.products">
        <div class="col-md-2">
            <img [src]="item.product.imageCover" class="w-100" alt>
        </div>
        <div class="col-md-10 pt-5">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="h5">
                        {{item.product.title}}
                    </h3>
                    <p class="text-main">Price : {{item.price}}</p>
                    <button class="btn btn-danger"
                        (click)="removeCartItem(item.product._id)"><i
                            class="fa-regular fa-trash-can"></i>
                        remove </button>
                </div>
                <div>
                    <button class="btn border border-success text-success"
                        (click)="changeCount(item.product._id,item.count+1)">+</button>
                    <span class="ms-4 me-4">{{item.count}}</span>
                    <button class="btn border border-danger text-danger"
                        (click)="changeCount(item.product._id,item.count-1)">-</button>
                </div>
            </div>
        </div>
    </div>
    <button [routerLink]="['/checkout' ,cartDetails._id ]" class="main-btn mt-3">Online Payment <img
            src="./assets/images/visa-1.svg" alt></button>
</section>