<section class="  bg-main-light mt-5">
    <div class="container py-5">
        <div class="d-flex justify-content-between">
            <div>
                <h3>get the FreshCart APP</h3>
                <p>We will send you a Link...</p>
            </div>
            <div>
                <i class="fa-brands fa-google-play fa-2x pe-4"></i>
                <i class="fa-brands fa-apple fa-2x pe-4"></i>
                <i class="fa-brands fa-windows fa-2x"></i>

            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-md-8">
                <input type="email" class="w-100 form-control"
                    placeholder="Email..."></div>
            <div class="col-md-2">
                <button class="main-btn w-100">Subscribe</button></div>
        </div>
        <div class="w-100 text-center border-top my-3 pt-ms-5 text-muted">
            @2024 Nader Hani, All Rights Reserved.
        </div>
    </div>
</section>