/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

  $main-color: #0a33ad;
  $light-color: #f0f3f2;
  $shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
        rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
        rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  $font-family: "Encode Sans Expanded", sans-serif;
  $rating-color: #ffc908;

body {
  font-family: $font-family !important;
}

.nav-link {
  transition: unset !important;
}
.active-link {
  background-color:$main-color !important;
  color: $light-color !important;
  border-radius: 5px;
}

.rating-color {
  color: $rating-color;
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px $main-color;
  transition: box-shadow 0.5s;
  overflow: hidden;
}
.product:hover {
  box-shadow: 0 0 10px #113cbd68;
}
.product .main-btn {
  transform: translateY(150%);
  transition: transform .7s;
}
.product:hover .main-btn {
  transform: translateY(0);
}

.brands {
  border-radius: 5px;
  border: solid 1px $main-color;
  transition: box-shadow 0.5s;
  overflow: hidden;
}
.brands:hover {
  box-shadow: 0 0 10px #113cbd68;
}


.font-sm {
  font-size: 12px;
}
.text-main {
  color:$main-color;
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: $light-color !important;
}
.main-btn {
  background-color: $main-color;
  padding: 10px 15px;
  border: unset;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  &:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }
  
}
.main-btn:disabled:hover {
  background-color: #ccc;
}
.main-btn:hover {
  background-color: #1136bd;
}



