<section class="bg-main-light p-4 my-3 shadow w-50 mx-auto">
    <h2>Payment Details</h2>
    <form [formGroup]="checkout" (ngSubmit)="handelForm()">
        <div class="py-2">
            <label for="details">details</label>
            <textarea id="details" class="form-control"
                formControlName="details"></textarea>
        </div>
        <div class="py-2">
            <label for="phone">phone</label>
            <input type="tel" id="phone" class="form-control"
                formControlName="phone" />
        </div>
        <div class="py-2">
            <label for="city">city</label>
            <input type="text" id="city" class="form-control"
                formControlName="city" />
        </div>
        <button class="main-btn mt-2" >Checkout</button>
    </form>
</section>